<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ResourceTranslator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <ResourceTranslator.My.MySettings>
            <setting name="PublicKey" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="PrivateKey" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="Sandbox_PublicKey" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="SandBox_PrivateKey" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="UseSandBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tier" serializeAs="String">
                <value>Pro</value>
            </setting>
            <!-- Do not send /  query more than this number of translations at a time. This is to prevent the web API from timing out. -->
            <setting name="Limit" serializeAs="String">
                <value>20</value>
            </setting>
            <!-- Auto approve all translations -->
            <setting name="AutoApprove" serializeAs="String">
                <value>True</value>
            </setting>
            <!-- Do not query for translation completion more often than this -->
            <setting name="QueryThrottle" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="UsePreferredTranslators" serializeAs="String">
                <value>False</value>
            </setting>
        </ResourceTranslator.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
